.footer {
    padding: 5px 0;
    background: #eaedf4;

    &__text {
        color: #36454F;
        text-align: center;
    }

    &__credit {
        color: #36454F;
        text-decoration: none;
        transition: color 0.2s;
        &:hover,
        &:active {
            color: #2EC4B6;
        } 
    }

}