@mixin primaryFont($size, $colour) {
    font-family: 'Prata', serif;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
    text-transform: uppercase;
    line-height: 1.6;
    color: $colour;
}

@mixin secondaryFont($size, $colour) {
    font-family: 'Cabin', sans-serif;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
    line-height: 1.6;
    color: $colour;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

.heading1 {
    @include primaryFont(55, #f1f1f1);
    text-transform: none;
}

.heading2 {
    @include primaryFont(50, black);
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    &--white {
        color: white;
        margin-bottom: 30px;
        align-self: stretch;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 10%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 5px solid #2EC4B6;
    }
}

.heading3 {
    @include primaryFont(20, #2EC4B6);
    text-transform: none;
    margin-bottom: 20px;
}

p {
    @include secondaryFont(18, black);
}

.inVisible {
    visibility: hidden;
}

