.header {
    height: 105vh;
    background: linear-gradient(to bottom, #242682e0, #242682e0),url('../img/toronto-mod1.jpg');
    background-size: cover;


    &__hamburger {
        position: fixed;
        top: 30px;
        right: 30px;
        font-size: 3rem;
        color: #2EC4B6;
        z-index: 100;
    }

    &__toggle {
        display: none;

        &:checked+.header__nav {
            top: 0;
        }
    }

    &__nav {
        display: flex;
        position: fixed;
        top: -100%;
        left:0;
        right:0;
        background: #36454F;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        z-index: 90;    
    }


    &__navList {
        display: flex;
        height: 100%;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    
    &__navLink {
        @include primaryFont(18, white);
        text-decoration: none;
        transition: border-bottom 0.2s;
        &:hover,
        &:active {
            border-bottom:2px solid #242682;
        }
        
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85%;
    }


    &__text {
        color: #f1f1f1;
    }

    &__name {
        color: #40F99B;
    }


    &__arrowContainer {
        position: absolute;
        left: 50%;
        bottom: 2%;
        animation: bounce 2s infinite;  
    }

    &__arrowLink {
        @include secondaryFont(30, #f1f1f1);
        
    }
}