.aboutSection {
    padding: 75px 0;


    &__heading {
        text-align: center;
    }

    &__columnWrapper {
        display: flex;
        width: 100%;
        // align-items: flex-start;
    }
    &__imgContainer {
        flex: 1 0 auto;
        margin-right: 10px;
        // border: 1px solid black;    
     }

     &__img {
         width: 300px;
         height: 400px;
         background: url(../img/profilePhoto.jpg);
         background-size: cover;
        //  border: 1px solid black;
         box-shadow: 10px 10px black;
     }

    &__moduleContainer {
        flex: 1 0 60%;
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__textModule {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    

}