.aboutSection {
    padding: 50px 0;
    background: #eaedf4;


    &__heading {
        
    }

    &__columnWrapper {
        display: flex;
        width: 100%;
        // align-items: flex-start;
    }
    &__imgContainer {
        flex: 1 0 auto;
        margin-right: 10px;
        // border: 1px solid black;    
     }

     &__img {
         width: 300px;
         height: 400px;
         background: url(../img/profilePhoto.jpg);
         background-size: cover;
        //  border: 1px solid black;
         box-shadow: 10px 10px black;
     }

    &__textContainer {
        flex: 1 0 60%;
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__textModule {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__text {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
}

.workSection {
    padding: 50px 0;
    // background: #242682;

    &__heading {

    }

    &__projectContainer {
        display: flex;
        margin-bottom: 50px;
        padding: 30px 35px;
        background: #2d2fa5;
        border-radius: 15px;
        flex-wrap: wrap;
        &:last-of-type {
            margin-bottom: 0;
        }

        & p {
            color: white;
        }
    }

    &__projectImgContainer {
        flex: 1 0 calc(30% - 30px);
        margin-right: 60px;

        &--right {
            margin-right: 0;
        }
    }

    &__projectDescContainer {
        flex: 1 0 calc(70% - 30px);
        display: flex;
        flex-direction: column;

        &--left {
            // flex: 1 0 70%;
            margin-right: 60px;
            text-align: right;
        }
    }

    &__buttonContainer {
        display:flex;

        &--right {
            align-self: flex-end;
        }
    }

    &__button {
        display: block;
        color: black;
        text-decoration: none;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid black;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.skillsSection {
    padding: 50px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__listItem {
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-of-type(n+5) {
            margin-top: 50px;
        }
    }

    &__icon {
        font-size: 7.5rem;
    }

    &__image {
        display: block;
        width: 75px;
        height: 75px;
    }
}

.contactSection {
    padding: 50px 0;

    &__container {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}