.aboutSection {
    padding-top: 50px;
    position: relative;

    padding-bottom: 200px;

    &::after {
        z-index: 10;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        transform: skewY(-5deg);
        transform-origin: top left;
    }


    &__container {
        position: relative;
        z-index: 20;
    }

    &__columnWrapper {
        display: flex;
        width: 100%;
    }
    &__imgContainer {
        flex: 1 0 auto;
        margin-right: 10px;
     }

     &__img {
         width: 300px;
         height: 400px;
         background: url(../img/profilePhoto.jpg);
         background-size: cover;
         box-shadow: 10px 10px #36454F;
     }

    &__textContainer {
        flex: 1 0 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__textModule {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__text {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
}

.workSection {
    padding-top: 100px;
    padding-bottom: 200px;
    position: relative;
    background: #eaedf4;

    &::after {
        // z-index: 30;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    &__container {
        position: relative;
        z-index: 40;

    }

    &__projectContainer {
        display: flex;
        margin-bottom: 50px;
        padding: 30px 35px;
        background: white;
        border-radius: 15px;
        flex-wrap: wrap;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__projectImgContainer {
        flex: 1 0 calc(30% - 30px);
        margin-right: 60px;

        &--right {
            margin-right: 0;
        }
    }

    &__projectDescContainer {
        flex: 1 0 calc(70% - 30px);
        display: flex;
        flex-direction: column;

        &--left {
            // flex: 1 0 70%;
            margin-right: 60px;
            text-align: right;
        }
    }

    &__projectDesc {
        margin-bottom: 20px;
    }

    &__projectTechContainer {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;

        &--right {
           align-self: flex-end;
        }
    }
    
    &__projectTech {
        display: block;
        margin-right: 10px;
        border: 3px solid black;
        margin-bottom: 5px;
        padding: 3px 5px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__buttonContainer {
        display:flex;

        &--right {
            align-self: flex-end;
        }
    }

    &__button {
        display: block;
        font-size: 1.8rem;
        color: white;
        background: #242582;
        text-decoration: none;
        margin-right: 10px;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background 0.2s;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover,
        &:active {
            background:lighten(#242582, 20);
        }
    }
}

.skillsSection {
    padding-top: 50px;
    padding-bottom: 200px;
    background: white;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        transform: skewY(5deg);
        transform-origin: top right;
    }

    &__container {
        position: relative;
        z-index: 30;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__listItem {
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-of-type(n+5) {
            margin-top: 50px;
        }
    }

    &__icon {
        font-size: 7.5rem;
        color: #36454F;
    }

    &__image {
        display: block;
        width: 75px;
        height: 75px;
    }

    &__subtitle {
        margin-top: 15px;
        color: #36454F;
        text-align: center;
    }
}

.contactSection {
    padding-top: 50px;
    padding-bottom: 75px;
    background: #36454F;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        transform: skewY(5deg);
        transform-origin: top right;
    }

    &__container {
        position: relative;
        z-index:30;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: white;
        margin-bottom: 10px;
        text-align: center;
    }

    &__emailLink {
        color: #2EC4B6;
        text-decoration: none;
        letter-spacing: 5px;
        font-size: 2.2rem;
        transition: color 0.2s;

        &:hover,
        &:active {
            color: white;
        }
    }

    &__socialMedia {
        display: flex;
    }

    &__socialItem {
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__socialLink {
        font-size:2.2rem;
        color: white;
        transition: color 0.2s;
        &:hover,
        &:active {
            color: #2EC4B6;
        }
    }
}