html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

h1, h2, h3, h4, h5, h6, ul, li, p, figure {
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

.heading1 {
  font-family: 'Prata', serif;
  font-size: 55px;
  font-size: 5.5rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: #f1f1f1;
  text-transform: none; }

.heading2 {
  font-family: 'Prata', serif;
  font-size: 35px;
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: #232528;
  text-align: center;
  margin-bottom: 25px; }
  .heading2--white {
    color: #f1f1f1; }

.heading3 {
  font-family: 'Prata', serif;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: #2EC4B6;
  text-transform: none; }

p {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
  color: black; }

.header {
  height: 105vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#242682e0), to(#242682e0)), url("../img/toronto-mod1.jpg");
  background: -webkit-linear-gradient(top, #242682e0, #242682e0), url("../img/toronto-mod1.jpg");
  background: -o-linear-gradient(top, #242682e0, #242682e0), url("../img/toronto-mod1.jpg");
  background: linear-gradient(to bottom, #242682e0, #242682e0), url("../img/toronto-mod1.jpg");
  background-size: cover; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 15%; }
  .header__logoContainer {
    height: 75px;
    width: 75px;
    border: 5px solid #2EC4B6;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0; }
  .header__navLink {
    font-family: 'Prata', serif;
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.6;
    color: #f1f1f1;
    text-decoration: none; }
    .header__navLink:hover, .header__navLink:active {
      border-bottom: 2px solid #2EC4B6; }
  .header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 85%; }
  .header__text {
    color: #f1f1f1; }
  .header__name {
    color: #40F99B; }
  .header__arrowContainer {
    position: absolute;
    left: 50%;
    bottom: 2%;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }
  .header__arrowLink {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.6;
    color: #f1f1f1; }

.aboutSection {
  padding: 50px 0;
  background: #eaedf4; }
  .aboutSection__columnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .aboutSection__imgContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-right: 10px; }
  .aboutSection__img {
    width: 300px;
    height: 400px;
    background: url(../img/profilePhoto.jpg);
    background-size: cover;
    -webkit-box-shadow: 10px 10px black;
    box-shadow: 10px 10px black; }
  .aboutSection__textContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .aboutSection__textModule {
    margin-bottom: 15px; }
    .aboutSection__textModule:last-of-type {
      margin-bottom: 0; }
  .aboutSection__text {
    margin-bottom: 15px; }
    .aboutSection__text:last-of-type {
      margin-bottom: 0; }

.workSection {
  padding: 50px 0; }
  .workSection__projectContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    padding: 30px 35px;
    background: #2d2fa5;
    border-radius: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .workSection__projectContainer:last-of-type {
      margin-bottom: 0; }
    .workSection__projectContainer p {
      color: white; }
  .workSection__projectImgContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(30% - 30px);
    flex: 1 0 calc(30% - 30px);
    margin-right: 60px; }
    .workSection__projectImgContainer--right {
      margin-right: 0; }
  .workSection__projectDescContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(70% - 30px);
    flex: 1 0 calc(70% - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .workSection__projectDescContainer--left {
      margin-right: 60px;
      text-align: right; }
  .workSection__buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .workSection__buttonContainer--right {
      -ms-flex-item-align: end;
      align-self: flex-end; }
  .workSection__button {
    display: block;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid black; }
    .workSection__button:last-of-type {
      margin-right: 0; }

.skillsSection {
  padding: 50px 0; }
  .skillsSection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .skillsSection__listItem {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .skillsSection__listItem:nth-of-type(n+5) {
      margin-top: 50px; }
  .skillsSection__icon {
    font-size: 7.5rem; }
  .skillsSection__image {
    display: block;
    width: 75px;
    height: 75px; }

.contactSection {
  padding: 50px 0; }
  .contactSection__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
